<!-- Error Section -->
<section class="page-section" id="error">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="mt-0">{{message}}</h1>
        <h2>{{error.status}}</h2>
        <hr class="divider my-4">
        <p class="text-black-50 mb-4"><pre>{{error.stack}}</pre></p>
      </div>
    </div>    
  </div>
</section>

