<!-- Forgot password Section -->
<section class="page-section" id="forgot-password">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Forgot Your Password?</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">We get it, stuff happens. Just enter your email address below and we'll send you a
          link to reset your password!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <form>
        <div class="form-group">
          <label for="inputEmail1">Email address</label>
          <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <hr class="divider my-4">
        <div class="text-center">
          <a class="small" href="/register">Create an Account!</a>
        </div>

      </form>
    </div>
  </div>


</section>