<!-- Added Section -->
<section class="page-section" id="add-provider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="mt-0">Added successly!</h1>
        <hr class="divider my-4">
        <h2 class="text-black-50 mb-4"></h2>
      </div>
    </div>    
</div>
</section>

