<!-- Provider Details Section -->
<section class="page-section" id="providers-details">
  <div class="container">
    <h2 class="text-center mt-0">Company Name</h2>
    <hr class="divider my-4">

    <div class="row my-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Description Text</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tag Line</h5>
            <p class="card-text">Tag Line Text</p>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Address</th>
            <th scope="col">Address2</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">12345</th>
            <td>123 Main St</td>
            <td>Suite 101</td>
            <td>Racine</td>
            <td>WI</td>
            <td>53401</td>
            <td>262-555-6789</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row my-4">
      <div class="col-sm-12 text-center">
        <a class="btn btn-secondary btn-lg " href="#">Edit Provider</a>
      </div>
    </div>
  </div>
</section>